<form class="form-filter col-sm-12" role="form" method="post" action="modificar/usuario">
                <div class="form-group col-sm-offset-2 col-sm-8">
                	<label>MODIFICAR USUARIO</label>
                	<hr>
                	<label>ID</label>
                	<input id="id" {% if user is not null%} value={{ user.id }} {% endif %} class="form-control"  type="text" name="id" style="display:none;"/>
                    <label>ROL</label>
                    <select class="roles" name="rol">
                                {% for rol in roles %}
                                	<option value="{{ rol.id }}" {% if user is not null and user.roles[0].id == rol.id %} selected {% endif %} >{{ rol.name }}</option>
                                {% endfor %}
                        </select>
                 	<label>NOMBRE</label>
                 	
                    <input id="nombre" {% if user is not null %} value={{ user.nombre }} {% endif %}class="form-control"  type="text"  placeholder="Ingresar nombre" name="nombre"  />
                    <label>APELLIDO</label>
                    <input id="apellido"{% if user is not null %} value={{ user.apellido }} {% endif %} class="form-control"  type="text"  placeholder="Ingresar apellido" name="apellido"  />
                    <label>EMAIL</label>
                    <input id="email" {% if user is not null %} value={{ user.email }} {% endif %} class="form-control"  type="text"  placeholder="Ingresar email" name="email"  />
                    <label>
    					  <input class="changePass" type="checkbox"> Cambiar password
    				</label>
                    <div class="password">
                    	<label>PASSWORD</label>
                    	<input id="password" class="form-control" type="text"  placeholder="Ingresar password" name="password" />
                    	<label>REESCRIBIR PASSWORD</label>
                    	<input id="password2" class="form-control" type="text"  placeholder="Reescribir password" name="password2" />
                    </div>
                    <br>
                    <input id="submit" class="boton" type="submit" value="Actualizar"></input>
                </div>
          </form>	