{% if comentario.calificacion == 0 %} 
 	{% set calificacion = 'white' %}
{% elseif comentario.calificacion == 1 %} 
	{% set calificacion = 'blue'%} 
{% elseif comentario.calificacion == 2 %} 
	{% set calificacion = 'green' %} 
{% elseif comentario.calificacion == 3 %} 
	{% set calificacion = 'red' %}
{% elseif comentario.calificacion >= 4 %} 
	{% set calificacion = 'redOpacity' %}  
{% endif %}
<li href="#" class="comentario list-group-item disabled" data-comentario-id="{{ comentario.id }}" data-calificacion="{{ comentario.calificacion}}" data-created-time="{{ comentario.fechaDeCreacion }}">
	<div class="panel panel-default">
		<div class="row  panel-mensaje colorCalificacion-{{ calificacion }}">
		<row>
			<div class="imagen col-xs-2" data-destacado={{ comentario.destacado }}>
			{% if comentario.destacado %}
				<img class="destacado" width="15"  height="15" alt="destacado" src="{{ asset('images/estrella_destacado.png') }}" data-direccion-no-destacado="{{ asset('images/estrella_blanca.png') }}" data-direccion-destacado="{{ asset('images/estrella_destacado.png') }}"/>
			{% else %}
				<img class="noDestacado" width="15"  height="15" alt="no destacado" src="{{ asset('images/estrella_blanca.png') }}" data-direccion-destacado="{{ asset('images/estrella_destacado.png') }}" data-direccion-no-destacado="{{ asset('images/estrella_blanca.png') }}" />
			{% endif%}


			<img class="fb-pic" alt="pic" src="http://graph.facebook.com/{{ comentario.personaFacebookId }}/picture?type=square&height=32" /></div>	
			<div class="personaFacebook col-xs-1" title="{{ comentario.personaNombre }}"> <a class="personaFacebookLink" href=" https://www.facebook.com/{{comentario.personaFacebookId}} ">{{ comentario.personaNombre }}<a></div>
			<div class="descripcionPost col-xs-1" title="{{ comentario.post.getContenido() }}">{{ comentario.post.getContenido() }}</div>
			<div class="paginaFacebook col-xs-1" title="{{ comentario.post.fanPage.name }}">{{ comentario.post.fanPage.name }}</div>
			<div class="comentarioContenido col-xs-2 truncate2" title="{{ comentario.comentario }}">{{ comentario.comentario }}</div>
			<div class="created-timeComentario col-xs-2">{{ comentario.fechaDeCreacion|date("d/m/Y H:i:s") }}</div>
			<div class="botones ">	
			<div class="circle circle-green-unselected {% if comentario.calificacion == 2 %} circle-selected {% endif %} bton-qualify " data-calificacion=2></div>
			<div class="circle circle-blue-unselected {% if comentario.calificacion == 1 %} circle-selected {% endif %} bton-qualify " data-calificacion=1></div>
			<div class="circle circle-red-unselected {% if comentario.calificacion == 3 %} circle-selected {% endif %}  bton-qualify " data-calificacion=3></div>
			<div class="circle btn-xs btn-danger bton-delete {% if comentario.calificacion != 3 and comentario.calificacion != 4  %} invisible {% endif %} {% if comentario.calificacion == 3 or comentario.calificacion == 4 %} visible {% endif %}" data-calificacion=4>Eliminar</div>
			</div>
			</row>
		</div>
		
		
	</div>
</li>
